# Grouping & Agregation

In [3]:
import numpy as np 
import pandas as pd 

from pandas import Series, DataFrame

In [4]:
mtcars_source = '../../inputs/mtcars.csv'

cars = pd.read_csv(mtcars_source)
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
# group by cyl
cars_groups = cars.groupby(cars['cyl'])
# mean for every column
cars_groups.mean()

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000

In [6]:
# mean for particular column
cars_groups['disp'].mean()

cyl
4    105.136364
6    183.314286
8    353.100000
Name: disp, dtype: float64

In [7]:
cars_groups.sum()

       mpg    disp    hp   drat      wt    qsec  vs  am  gear  carb
cyl
4    293.3  1156.5   909  44.78  25.143  210.51  10   8    45    17
6    138.2  1283.2   856  25.10  21.820  125.84   4   3    27    24
8    211.4  4943.4  2929  45.21  55.989  234.81   0   2    46    49