In [19]:
import pandas as pd

## generate dataframe

In [20]:

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]
columns = ["firstname","lastname","country","state"]
df = pd.DataFrame(data)
df.columns = columns

## get value_count in percentage

In [21]:
df.state.map(df.state.value_counts(normalize=True))

0    0.50
1    0.25
2    0.50
3    0.25
Name: state, dtype: float64

## filter data based on percentage

In [22]:
df[df.state.map(df.state.value_counts(normalize=True)) == .25]

  firstname lastname country state
1   Michael     Rose     USA    NY
3     Maria    Jones     USA    FL

## add percentage to dataframe and fiter dataframe

In [23]:
df['state_count'] = df.state.map(df.state.value_counts(normalize=True))
df[df.state_count == .25]

  firstname lastname country state  state_count
1   Michael     Rose     USA    NY         0.25
3     Maria    Jones     USA    FL         0.25