# Filtering & Selecting

In [1]:
import numpy as np 
import pandas as pd 

from pandas import Series, DataFrame

### Selecting and retrieving data 

You can write an index value in two forms 
- Label index
- Integer index

In [4]:
series_obj = Series(np.arange(8), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [5]:
# select by name
series_obj['row 7']

6

In [6]:
# select by index
series_obj[0]

0

In [7]:
series_obj[[0, 7]]

row 1    0
row 8    7
dtype: int64

In [10]:
# create a dataframe with random numbers
df_obj = DataFrame(
    np.random.rand(36).reshape((6,6)),
    index = ['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
    columns = ['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6']
)
df_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.895126  0.762838  0.825022  0.608323  0.450458  0.036849
row 2  0.690090  0.784032  0.365773  0.142434  0.456063  0.326604
row 3  0.975725  0.273398  0.462714  0.340277  0.871865  0.943514
row 4  0.346403  0.274717  0.462803  0.663521  0.235843  0.058039
row 5  0.339699  0.171916  0.605116  0.346956  0.361245  0.779210
row 6  0.920737  0.929967  0.826607  0.751450  0.301436  0.243407

In [11]:
# selecting columns and rows
df_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.456063  0.784032
row 5  0.361245  0.171916