In [1]:
import math
import collections

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
pd.options.display.max_rows = 20

In [3]:
import zipfile

In [4]:
zipfile.ZipFile('names.zip').extractall('.')

In [9]:
open('names/yob2011.txt', 'r').readlines()[:10]

['Sophia,F,21842\n',
 'Isabella,F,19910\n',
 'Emma,F,18803\n',
 'Olivia,F,17322\n',
 'Ava,F,15503\n',
 'Emily,F,14258\n',
 'Abigail,F,13248\n',
 'Madison,F,12389\n',
 'Mia,F,11530\n',
 'Chloe,F,10991\n']

In [11]:
pd.read_csv('names/yob2011.txt', names = ['name', 'sex', 'number'])

           name sex  number
0        Sophia   F   21842
1      Isabella   F   19910
2          Emma   F   18803
3        Olivia   F   17322
4           Ava   F   15503
...         ...  ..     ...
33903     Zylar   M       5
33904     Zylas   M       5
33905     Zyran   M       5
33906   Zyshawn   M       5
33907  Zytavion   M       5

[33908 rows x 3 columns]

In [12]:
# lets add new column with YEAR
pd.read_csv('names/yob2011.txt', names = ['name', 'sex', 'number']).assign(year=2011)

           name sex  number  year
0        Sophia   F   21842  2011
1      Isabella   F   19910  2011
2          Emma   F   18803  2011
3        Olivia   F   17322  2011
4           Ava   F   15503  2011
...         ...  ..     ...   ...
33903     Zylar   M       5  2011
33904     Zylas   M       5  2011
33905     Zyran   M       5  2011
33906   Zyshawn   M       5  2011
33907  Zytavion   M       5  2011

[33908 rows x 4 columns]

In [16]:
allyears = pd.concat(pd.read_csv(f'names/yob{year}.txt', names = ['name', 'sex', 'number']).assign(year=year) for year in range(1880, 2019))

In [17]:
allyears.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1957046 entries, 0 to 32032
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   name    object
 1   sex     object
 2   number  int64
 3   year    int64
dtypes: int64(2), object(2)
memory usage: 74.7+ MB

In [18]:
allyears.year.min(), allyears.year.max()

(1880, 2018)

In [20]:
allyears.to_csv('allyears.csv.gz', index=False) # w/gz it will be automatically compressed